<br>
<div class="container">
    <h1>Tela de Consulta</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button type="button" class="btn btn-danger text-light"><a href="/editar/{{id}}"
                            style="color:inherit">Editar</a></button>
                    <button type="button" class="btn  btn-danger text-light"><a href="/excluir/{{id}}"
                            style="color:inherit">Excluir</a></button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>